.profile-container {
  background-color: rgba(255, 229, 214, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.profile-content {
  padding-top: 2rem;
  width: 100%;
}

.header-row {
  display: flex;
  gap: 1.25rem;
}

.header-left-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 100%;
  margin-left: 0;
}

.main-title {
  color: rgba(169, 81, 165, 1);
  font-size: 4.6875rem;
  font-family:
    ALS Hauss,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
}

.header-right-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: auto;
}

.nav-buttons-container {
  width: 100%;
}

.nav-buttons-row {
  display: flex;
  gap: 1.25rem;
}

.nav-button-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 33%;
  margin-left: 0;
}

.nav-button-column:not(:first-child) {
  margin-left: 1.25rem;
}

.nav-button {
  border-radius: 5.5rem;
  background-color: rgba(255, 229, 214, 1);
  display: flex;
  height: auto;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
  justify-content: center;
}

.back-button {

}

.contact-button {

}

.forward-button {

}

.nav-button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  align-self: stretch;
}

.back-button .nav-button-icon {
  width: 4rem;
}

.contact-button .nav-button-icon {
  width: 4rem;
}

.forward-button .nav-button-icon {
  width: 4rem;
}

.section-title {
  color: rgba(169, 81, 165, 1);
  font-size: 2.0375rem;
  font-family:
    ALS Hauss,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 500;
  line-height: 1;
  align-self: flex-start;
  margin-top: 1.875rem;
}

.profile-dashboard {
  display: flex;
  height: 100%;
  margin-top: 2.875rem;
  width: 100%;
  align-items: stretch;
  gap: 6.25rem 2.5rem;
  flex-wrap: wrap;
}

.sidebar-menu {
  display: flex;
  margin: auto 0;
  flex-direction: column;
  align-items: start;
  font-family:
    ALS Hauss,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 2.0375rem;
  color: rgba(169, 81, 165, 1);
  font-weight: 500;
  text-align: start;
  line-height: 1;
  flex: 1;
}

.menu-item {
  margin-top: 1.8125rem;
}

.menu-item:first-child {
  margin-top: 0;
}

.menu-item:nth-child(4) {
  margin-top: 1.6875rem;
}

.menu-item:last-child {
  margin-top: 1.875rem;
}

.calendar-section {
  flex: 1;
}

.calendar-title {
  border-radius: 0;
  max-width: 100%;
  font-family:
    ALS Hauss,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 3.0375rem;
  color: rgba(169, 81, 165, 1);
  font-weight: 500;
  text-align: end;
  line-height: 1;
}

.calendar-month {
  border-radius: 0;
  margin-top: 0.6875rem;
  width: 100%;
  font-family:
    ALS Hauss,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 3.0375rem;
  color: rgba(169, 81, 165, 1);
  font-weight: 500;
  text-align: end;
  line-height: 1;
}

.calendar-grid {
  display: flex;
  margin-top: 2.6875rem;
  width: 100%;
  flex-direction: column;
  gap: 1.0rem;
  align-items: end;
}

.calendar-week {
  display: flex;
  align-items: stretch;
  gap: 1.0rem;
  flex-wrap: wrap;
}

.calendar-day {
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(169, 81, 165, 1);
  color: rgba(169, 81, 165, 1);
  border-radius: 50%;
  display: flex;
  width: 2.0625rem;
  flex-shrink: 0;
  font-weight: 500;
  height: 2.0625rem;
  font-family: "ALS Hauss", -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.0rem;
}

.calendar-day.current-day {
  background-color: rgba(169, 81, 165, 1);
  color: rgb(255, 255, 255);
}

.calendar-day.disabled {
  background-color: rgb(195, 195, 195);
  border: 2px solid rgb(195, 195, 195);
  color: rgb(140, 140, 140);
}

.profile-footer {
  background-color: rgba(255, 229, 214, 1);
  display: flex;
  width: 100%;
  padding: 1rem 0;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  justify-content: center;
}

.footer-content {
  display: flex;
  width: 100%;
  max-width: 46.094rem;
  align-items: stretch;
}

.footer-year, .footer-copyright {
  font-weight: 700;
}

.footer-copyright {
  flex-grow: 1;
  flex-shrink: 1;
  width: 4.844rem;
}

.footer-email {
  flex-grow: 1;
  flex-shrink: 1;
  width: 6.25rem;
}